<div class="about-container">
	<div class="col-lg-8" style="background-color:white;">
		<h2 class="sub-header">Hello! I'm</h2>
		<h1 class="header">Luna Alison Alvarez</h1>
		<h3 class="more-info">A Full-Stack Web Developer currently living in Seattle, WA
			<br />
			Interests include: puppies, Ruby on Rails, and JavaScript (&amp; libraries)
		</h3>
		<%= link_to 'View My Blog Posts', controller: 'articles' %>
	</div>
	<div class="col-md-2">
		<%= image_tag("me.jpg", class: "bio-image") %>
	</div>
</div>
