<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	<h1>
		<strong><%= @article.title %></strong>
	</h1>
	<h3>
		<%= @article.text %>
	</h3>
	<%= link_to 'Back', articles_path %>
</body>
</html>
