// Place all the styles related to the about-me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sub-header {
	font-family: 'Maven Pro', sans-serif;
	font-style: italic;
	color: #fff;
	margin-bottom: 0em;
}

.header {
	color: #9dc698;
	font-size: 62px;
	font-family: 'Tangerine', cursive, serif;
}

.more-info {
	font-family: 'Maven Pro', sans-serif;
	color: #fff;
}

a {
	color: #9dc698;
	font-weight: bold;
	text-decoration: none;
	&:hover { text-decoration: underline;
		outline: none;
	}
}

.bio-container {
	display:inline-block;
	width: 200px;
	height: 120px;
	margin: none;
}

.bio-image {
	background-image: url('me.jpg');
	max-width: 30em;
	background-repeat: no-repeat;
	height: auto;
	margin: -255px 0 75px 751px;
	// opacity: 1000;
    // filter: 1000; /* For IE8 and earlier */
}

body {
	background: white;
	background-image:
		linear-gradient(
		black, #fff
	);
	background-repeat:no-repeat, repeat, repeat;
}

.about-container {
    background-color: rgba(255,255,255,0.3);
    padding: 4em 0 0em 4em;
}




