// Place all the styles related to the about-me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sub-header {
	font-style: italic;
	color: #bc7878;
	margin-bottom: 0em;
}

.header {
	color: red
}

a {
	color: red;
	font-weight: bold;
	text-decoration: none;
	&:hover { text-decoration: underline;
		outline: none;
	}
}

.bio-container {
	display:inline-block;
	width: 200px;
	height: 120px;
	margin: none;
}

.bio-image {
	background-image: url('me.jpg');
	/*position: absolute;*/
	max-width: 30em;
	background-repeat: no-repeat;
	height: auto;
}

body {
	background-image: url('about-background.jpg')
}

.about-container {
	background-color: white;
}




